body{
  background-color: #fadbea;
  position: relative;
  height: 100vh;
}

.luna {
  position: absolute;
  top: 50%;
  left:50%;
  margin-top: -100px;
  margin-left: -100px;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: 5px #000 solid;
  background-color: #36394a;
  /* Nose styles */
  /* Mouth styles */
}

.luna:before,
.luna:after {
  display: block;
  content: '';
  position: absolute;
}

.luna:before {
  box-sizing: border-box;
  width: 75px;
  height: 140px;
  margin-top: -80px;
  background-color: black;
  background-image: linear-gradient(to right, #36394a 50%, #36394a 50%),linear-gradient(to right, #36394a 75%, #36394a 75%);
  border-radius: 100px 100px 0 0;
  border: 5px solid black;
  border-bottom-color: transparent;
  z-index: -1;

   /* Left Ear styles */
   /* Left Eye styles */
}

.luna:after{
  /* Right Ear Styles */
  /* Right Eye styles */
}
