div{
width: 300px;
height: 130px;
margin-left: 150px;
margin-top: 65px;
z-index: 1;
background: -webkit-gradient(linear,left top, right top,from(#111),color-stop(15%, #444),color-stop(85%, #444),to(#111));
background: linear-gradient(to right,#111 0%,#444 15%,#444 85%,#111 100%);
border-top: 15px solid #ccc;
border-bottom: 12px solid #ccc;
-o-border-image: linear-gradient(to right,#444,#ccc,#ccc,#ccc,#ccc,#444) 1% stretch;
border-image: -webkit-gradient(linear,left top, right top,from(#444),color-stop(#ccc),color-stop(#ccc),color-stop(#ccc),color-stop(#ccc),to(#444)) 1% stretch;
border-image: linear-gradient(to right,#444,#ccc,#ccc,#ccc,#ccc,#444) 1% stretch;
-webkit-box-shadow: 0 3px 4px -2px rgba(0,0,0,0.6), 0 10px 7px -2px rgba(0,0,0,0.4);
box-shadow: 0 3px 4px -2px rgba(0,0,0,0.6), 0 10px 7px -2px rgba(0,0,0,0.6);
}


div::before {
    content: "";
    width: 33px;
    height: 18px;
    margin-left: 30px;
    top: -30px;
    left: 50%;
    z-index: 2;
    background:#333;
    -webkit-box-shadow: 0 0 0 2px #eee,
                -1px -1px 1px 3px #333,
                -95px 6px 0 0 #ccc,
                30px 3px 0 12px #ccc,
                -18px 37px 0 46px #ccc,

                -96px -6px 0 -6px #555,
                -96px -9px 0 -6px #ddd,

                -155px -10px 1px 3px #888,
                -165px -10px 1px 3px #999,
                -170px -10px 1px 3px #666,
                -162px -8px 0 5px #555,
               
                85px -4px 1px -3px #ccc,
                79px -4px 1px -3px #888,
                82px 1px 0 -4px #555;
    box-shadow: 0 0 0 2px #eee, /* white line */
                -1px -1px 1px 3px #333, /* dark line behind white line */
                -95px 6px 0 0 #ccc, /* ??? */
                30px 3px 0 12px #ccc, /* small grey box off to side */
                -18px 37px 0 46px #ccc, /* large grey box off to side */

                -96px -6px 0 -6px #555, /* ??? */
                -96px -9px 0 -6px #ddd, /* ??? */

                -155px -10px 1px 3px #888, /* right side of knob */
                -165px -10px 1px 3px #999, /* grey line in center of knob */
                -170px -10px 1px 3px #666, /* left side of knob */
                -162px -8px 0 5px #555, /* base and background of knob */

                85px -4px 1px -3px #ccc, /* ??? */
                79px -4px 1px -3px #888, /* ??? */
                82px 1px 0 -4px #555; /* ??? */
}
