body{
  background-color: #fadbea;
  position: relative;
  height: 100vh;
}

.container{
  position: absolute;
  left: 50%;
  top: 50%;
}

.container-wrapper{
  bottom: 0;
  height: 30%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 15%;
}

.head-wrapper {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1px;
  grid-auto-rows: minmax(50px, auto); */
}

.ear{
  display: inline;
  width: 0;
  height: 0;
  border-left: 55px solid transparent;
  border-right: 22.5px solid transparent;
  border-bottom: 55px solid #36394a;
}

.ear-wrapper {
  border-radius: 250px;
  height: 262.5px;
  position: absolute;
  width: 250px;
}

.ears {
  background-color: #e88c75;
  border-radius: 1000px 30px 1000px 170px;
  height: 100px;
  position: absolute;
  top: -38px;
  width: 125px;
  z-index: -1;
}

.ears.left {
  border-bottom: 25px solid #36394a;
  border-left: 1px solid #36394a;
  border-right: 4px solid #36394a;
  border-top: 3px solid #36394a;
  left: -30px;
  -webkit-transform: rotate(-85deg);
  -moz-transform: rotate(-85deg);
  -o-transform: rotate(-85deg);
  -ms-transform: rotate(-85deg);
  transform: rotate(-65deg);

}
.ears.right {
  border-bottom: 25px solid #36394a;
  border-left: 1px solid #36394a;
  border-right: 4px solid #36394a;
  border-top: 3px solid #36394a;
  right: 42px;
  -webkit-transform: rotate(109deg);
  -moz-transform: rotate(109deg);
  -o-transform: rotate(109deg);
  -ms-transform: rotate(109deg);
  transform: rotate(109deg);
  transform: scaleY(-1) rotate(109deg);
}

.left-ear{
  background-color: #36394a;
  /* grid-column: 5 / 6;
  grid-row: 1 / 4; */
  z-index: 2;
}

.right-ear{
  background-color: #36394a;
}

.head{
  height:175px;
  width: 175px;
  background-color: #36394a;
  border-radius: 50%;
  z-index: 1;
}

.face{
  z-index: 2;
}
.eyes {
  height: 60px;
  width: 45px;
  background-color: #fefefe;
  position: absolute;
  top: 65px;
  z-index: 2;
}
.eyes.left {
  border-radius: 100% 100% 90% 75%;
  left: 30px;
}
.eyes.right {
  border-radius: 100% 100% 75% 90%;
  right: 30px;
}

.eyes .eye-color {
  height: 50px;
  width: 25px;
  background-color: #ef6206;
  border-radius: 100%;
  position: relative;
  top: 3px;
  z-index: 3;
}

.left.eyes.eye-color{
  left: 10px;
}

.eyes .eye-color.left:before {
  left: 20px;
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  transform: rotate(50deg);
}

.nose{

}
.whiskers{

}
.mouth{

}
.cresent-moon{
 width: 37px;
 height: 37px;
 background-color: #f5e52e;
 border-radius: 100%;
 left: 0;
 margin: auto;
 position: absolute;
 right: 0;
 top: 20px;
}

.cresent-moon:after{
  width: 29px;
  height: 29px;
  background-color: #36394a;
  border-radius: 100%;
  content: "";
  display: block;
  left: 4px;
  position: absolute;
  top: -4px;

}
