body{
  background-color: #fadbea;
  position: relative;
  height: 100vh;
}

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 170px;
  max-width: 170px;
}

.wrapper{
  height: 30%;
  width: 15%;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.ear-wrapper {
  width: 250px;
  height: 262.5px;
  border-radius: 250px;
  position: absolute;
}

.ears {
  height: 100px;
  width: 125px;
  background-color: #e88c75;
  border-radius: 1000px 30px 1000px 170px;
  position: absolute;
  top: -38px;
  z-index: -1;
}

.ears.left {
  border-bottom: 25px solid #36394a;
  border-left: 1px solid #36394a;
  border-right: 4px solid #36394a;
  border-top: 3px solid #36394a;
  left: -30px;
  -webkit-transform: rotate(-85deg);
  -moz-transform: rotate(-85deg);
  -o-transform: rotate(-85deg);
  -ms-transform: rotate(-85deg);
  transform: rotate(-65deg);

}
.ears.right {
  border-bottom: 25px solid #36394a;
  border-left: 1px solid #36394a;
  border-right: 4px solid #36394a;
  border-top: 3px solid #36394a;
  right: 42px;
  -webkit-transform: rotate(109deg);
  -moz-transform: rotate(109deg);
  -o-transform: rotate(109deg);
  -ms-transform: rotate(109deg);
  transform: rotate(109deg);
  transform: scaleY(-1) rotate(109deg);
}

.left-ear{
  background-color: #36394a;
  /* grid-column: 5 / 6;
  grid-row: 1 / 4; */
  z-index: 2;
}

.right-ear{
  background-color: #36394a;
}

.head{
  height:175px;
  width: 175px;
  background-color: #36394a;
  border-radius: 50%;
  z-index: 1;
}

.face{
  z-index: 2;
}
.eyes {
  height: 60px;
  width: 45px;
  background-color: #fefefe;
  position: absolute;
  top: 65px;
  z-index: 2;
}
.eyes.left {
  border-radius: 100% 100% 90% 75%;
  left: 30px;
}
.eyes.right {
  border-radius: 100% 100% 75% 90%;
  right: 30px;
}

.eyes .eye-color {
  height: 50px;
  width: 35px;
  background-color: #ef6206;
  border-radius: 100%;
  position: relative;
  top: 3px;
  z-index: 3;
}

.left.eye-color{
  left: 10px !important;
}

.eyes .eye-color.left:before {
  left: 20px;
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  transform: rotate(50deg);
}

.eye-white{
  width:20px;
  height: 35px;
  background-color: #fefefe;
  border-radius: 50%;
  position: relative;
  top: 3px;
}

.nose{
  height: 8px;
  width: 10px;
  background-color: #e98970;
  border: 1px solid #000;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  top: 122px;
  left: 80px;
}

.cresent-moon{
 width: 37px;
 height: 37px;
 background-color: #f5e52e;
 border-radius: 100%;
 left: 0;
 margin: auto;
 position: absolute;
 right: 0;
 top: 20px;
}

.cresent-moon:after{
  width: 29px;
  height: 29px;
  background-color: #36394a;
  border-radius: 100%;
  content: "";
  display: block;
  left: 4px;
  position: absolute;
  top: -4px;

}

.whiskers{
  background-color: #261f2e;
  height: 1.75px;
  width: 90px;
  position: absolute;
  top: 125px;
  z-index: 3;
  opacity: 0.5;
}

.whiskers.left {
  left: -45px;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
}
.whiskers.left:after, .left.whiskers:before {
  left: 1px;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
}
.whiskers.left:before {
  left: 5px;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
}
.whiskers.right {
  right: -45px;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
}
.whiskers.right:after, .right.whiskers:before {
  right: 1px;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
}
.whiskers.right:before {
  right: 5px;
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
}

.whiskers:after, .whiskers:before {
  height: 1.75px;
  width: 90px;
  background-color: #261f2e;
  content: "";
  display: block;
  position: absolute;
  top: 20px;
}

.whiskers:before {
  top: 40px;
  width: 90px;
}
.mouth{

}
