body{
  background:#ed9940;
  float: left;
  width: 100%;
  text-align: center;
  min-height: 400px;
  position: relative;

}

div:before {
  content: ' ';
  height: 10px;
  border-right: 50px solid #ff008c;
  border-bottom: 8px solid transparent;
  border-top: 9px solid transparent;
  z-index: 0;
  position: relative;
  right: 150px;
  top: 12px;
}

div::after {
 content: 'pink';
 box-sizing: inherit;
 border: inherit;
 width: 250px;
 height: 40px;
 position: absolute;
 margin-left: -80%;
 margin-top: -3px;
 font-family: Arial, sans-serif;
 font-size: 12px;
 font-weight: bold;
 color: rgba(0, 0, 0,.5);
 text-align: right;
 padding-right: 47px;
 padding-top: 28px;
 background-image: linear-gradient(to bottom,
                                   rgba(255, 255, 255,.0) 12px,
                                   rgba(255, 255, 255,.3) 24px,
                                   rgba(255, 255, 255,.3) 19px,
                                   rgba(255, 255, 255,.0) 24px);
}

div{
  width: 250px;
  height: 40px;
  margin-left: 45%;
  margin-top: 10%;
  z-index: 1;
  position: absolute;
  box-shadow: 2px 2px 3px rgba(0,0,0,.3);
  background: #ff008c;
  background-image: linear-gradient(to right,
                                  transparent 25px,
                                  rgba(255, 0, 140, .9) 25px,
                                  rgba(255, 0, 140, 1) 30px,
                                  transparent 30px,
                                  transparent 35px,
                                  rgba(255, 0, 140,.6) 35px,
                                  rgba(255, 0, 140,.6) 40px,
                                  transparent 40px,
                                  transparent 210px,
                                  rgba(255, 0, 140,.6) 210px,
                                  rgba(255, 0, 140,.6) 215px,
                                  transparent 215px,
                                  transparent 220px,
                                  rgba(255, 0, 140,.6) 220px,
                                  rgba(255, 0, 140,.6) 225px,
                                  transparent 225px),
                                  radial-gradient(ellipse at top,
                                  rgba(255, 0, 140,.6) 50px,
                                  transparent 54px),
                                  linear-gradient(to right,
                                  transparent 12px,
                                  rgba(255, 179, 221,.6) 12px,
                                  rgba(255, 179, 221,.6) 235px,
                                  transparent 235px),
                                  linear-gradient(to bottom,
                                  rgba(255, 92, 181,.6) 62%,
                                  rgba(0, 0, 0,.3) 100%);


}
